__pycache__
*K_*.pdf
*K_*.txt
*K_*.json
log/*
pdwork*
*.pyc
*.csv
*.json
*.bk
*.pdf
/archive/
/paycheck/
/.vscode/
/template/
__print_pdf_textboxes.py
.DS_Store
camouflage.py
config.py
aws/*
Escaped
income_timechart.png